.column-five-sixth {
	float: left;
	width: 83.333%;
}

.column-four-fifth {
	float: left;
	width: 80%;
}

.column-three-fourth {
	float: left;
	width: 75%;
}

.column-two-third {
	float: left;
	width: 66.667%;
}

.column-three-fifths {
	float: left;
	width: 60%;
}

.column-half {
	float: left;
	width: 50%;
}

.column-two-fifths {
	float: left;
	width: 40%;
}

.column-third {
	float: left;
	width: 33.333%;
}

.column-fourth {
	float: left;
	width: 25%;
}

.column-fifth {
	float: left;
	width: 20%;
}

.column-sixth {
	float: left;
	width: 16.667%;
}


/* Responsive */
@media (min-width: 768px) {
	.column-768-five-sixth {
		float: left;
		width: 83.333%;
	}

	.column-768-four-fifth {
		float: left;
		width: 80%;
	}

	.column-768-three-fourth {
		float: left;
		width: 75%;
	}

	.column-768-two-third {
		float: left;
		width: 66.667%;
	}

	.column-768-three-fifths {
		float: left;
		width: 60%;
	}

	.column-768-half {
		float: left;
		width: 50%;
	}

	.column-768-two-fifths {
		float: left;
		width: 40%;
	}

	.column-768-third {
		float: left;
		width: 33.333%;
	}

	.column-768-fourth {
		float: left;
		width: 25%;
	}

	.column-768-fifth {
		float: left;
		width: 20%;
	}

	.column-768-sixth {
		float: left;
		width: 16.667%;
	}
}

@media (min-width: 1000px) {
	.column-1000-five-sixth {
		float: left;
		width: 83.333%;
	}

	.column-1000-four-fifth {
		float: left;
		width: 80%;
	}

	.column-1000-three-fourth {
		float: left;
		width: 75%;
	}

	.column-1000-two-third {
		float: left;
		width: 66.667%;
	}

	.column-1000-three-fifths {
		float: left;
		width: 60%;
	}

	.column-1000-half {
		float: left;
		width: 50%;
	}

	.column-1000-two-fifths {
		float: left;
		width: 40%;
	}

	.column-1000-third {
		float: left;
		width: 33.333%;
	}

	.column-1000-fourth {
		float: left;
		width: 25%;
	}

	.column-1000-fifth {
		float: left;
		width: 20%;
	}

	.column-1000-sixth {
		float: left;
		width: 16.667%;
	}
}

@media (min-width: 1200px) {
	.column-1200-five-sixth {
		float: left;
		width: 83.333%;
	}

	.column-1200-four-fifth {
		float: left;
		width: 80%;
	}

	.column-1200-three-fourth {
		float: left;
		width: 75%;
	}

	.column-1200-two-third {
		float: left;
		width: 66.667%;
	}

	.column-1200-three-fifths {
		float: left;
		width: 60%;
	}

	.column-1200-half {
		float: left;
		width: 50%;
	}

	.column-1200-two-fifths {
		float: left;
		width: 40%;
	}

	.column-1200-third {
		float: left;
		width: 33.333%;
	}

	.column-1200-fourth {
		float: left;
		width: 25%;
	}

	.column-1200-fifth {
		float: left;
		width: 20%;
	}

	.column-1200-sixth {
		float: left;
		width: 16.667%;
	}
}