.events-date {
	font-weight: bold;
	text-transform: uppercase;
}
.events-title {
    font-size: 1.5em;
	margin: 0.2em 0;
	a {
		color: #7ca0c4;
	}
}
.events-location {
    font-size: 1.25em;
    font-weight: 400;
    font-style: italic;
    margin: 0.2em 0;
}