.businesses-date {
  font-weight: bold;
  text-transform: uppercase;
}
.businesses-title {
  font-size: 1.5em;
  margin: 0.2em 0;
  a {
    color: #7ca0c4;
  }
}
.businesses-location {
  font-size: 1.25em;
  font-weight: 400;
  font-style: italic;
  margin: 0.2em 0;
}
.business-description {
  font-family:'Open Sans', sans-serif !important;
  line-height:2 !important;
  color: #676a6c !important;

  a {
    color: #7ca0c4 !important;
  }
}
.business-date {
  font-weight: bold;
  text-transform: uppercase;
}
.business-title {
  color: #7ca0c4;
  font-weight: 300;
}
.business-cancelled {
  font-size: 1.25em;
  font-weight: 400;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 2em;
}
.business-details-list li {list-style-type: square;}