<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1' />
	<meta name="robots" content="noindex, nofollow">
	
	<title>AAMA</title>
	
	<!-- CSS Styles -->
	<link rel="stylesheet" href="/assets/fonts/icons/aama-icons.css" type="text/css">
	<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/build/bundle.css">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<!-- Javascript -->
	<script src="/assets/vendor/jquery/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>


	{{> navbar}}


	{{> popout-menu}}


	<!-- Banner -->
	<div class="layout-heroA">
		<div class='layout-heroA-img'></div>
		<div class="banner-textbox">
			<h1 class="banner-heading">
				<span>The premier source</span><br />
				<span>of education and standards</span><br />
				<span>in the fenestration industry.</span>
			</h1>
			<a class="learn-more" href="#learn-more">Learn More -></a>
		</div>
	</div>

	<div class="content-wrapper">
		{{{body}}}
	</div>

	{{> footer}}
	{{> scripts}}
	

</body>
</html>