@font-face {
	font-family: 'aama-icons';
	src:url('aama-icons.eot?19lvgy');
	src:url('aama-icons.eot?#iefix19lvgy') format('embedded-opentype'),
		url('aama-icons.ttf?19lvgy') format('truetype'),
		url('aama-icons.woff?19lvgy') format('woff'),
		url('aama-icons.svg?19lvgy#aama-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'aama-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-membership:before {
	content: "\e600";
}
.icon-certification:before {
	content: "\e601";
}
.icon-products:before {
	content: "\e602";
}
.icon-materials:before {
	content: "\e603";
}
.icon-education:before {
	content: "\e604";
}
.icon-standards:before {
	content: "\e605";
}
.icon-resources:before {
	content: "\e606";
}
.icon-codes:before {
	content: "\e607";
}
.icon-industry:before {
	content: "\e608";
}
.icon-green-building:before {
	content: "\e609";
}
.icon-manufacturers:before {
	content: "\e60a";
}
.icon-builders:before {
	content: "\e60b";
}
.icon-architects:before {
	content: "\e60c";
}
.icon-homeowners:before {
	content: "\e60d";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-twitter:before {
	content: "\e60f";
}
.icon-feed:before {
	content: "\e610";
}
.icon-youtube:before {
	content: "\e611";
}
.icon-flickr:before {
	content: "\e612";
}
.icon-linkedin:before {
	content: "\e613";
}
