// Font
$font-stack: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Basic Colors
$navy: #6d8aa6;           // Primary color
$navy-dark: #495d6d;	  // Dark navy blue
$dark-gray: #c2c2c2;      // Default color
$blue: #1c84c6;           // Success color
$lazur: #23c6c8;          // Info color
$yellow: #f8ac59;         // Warning color
$red: #ed5565;            // Danger color

// Various colors
$text-color: #676a6c;           // Body text
$header-color: #696E74;
$background-light: #eee;
$gray: #f5f5f3;                 // Background wrapper color
$light-gray: #d1dade;           // Default label, badget
$label-badget-color: #5e5e5e;
$light-blue: #7aa0c4;			// Blog post border color
$lighter-blue: #b0c6dd;			// Blog link color
$logo-blue: #7ca0c4;			// Logo blue
$button-gray: #e6e7e9;			// Used for buttons and inputs
$darker-gray: #b5b5b5;
$gray-malcolm: #7e7f72;			// Creepy cat thing
$green: #a2bc35;				// Green
$footer-gray: #a4a49a;
$footer-dark: #60605c;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;   // IBox border
$ibox-title-bg: white;    // IBox Background header
$ibox-content-bg: white;  // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
$boxed-backgound: url("patterns/shattered.png");

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #2f4050;
$nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
$nav-text-color: #a7b1c2;

