<!-- Footer -->
<footer>
	<div class="row">
		<div class="col-sm-4">
			<div class="logo-box footer-logo">
				<img src="/assets/images/aama-logo-gray.png" alt="AAMA Logo" class="logo">
				<!--
					<div>American</div>
					<div>Architectural</div>
					<div>Manufacturers</div>
					<div>Association</div>
				-->
			</div>
		</div>

		<div class="col-sm-4">
			<ul class="footer-menu">
				<li><a href="/manufacturers-members">Manufacturers & Members</a></li>
				<li><a href="/builders-contractors">Builders & Contractors</a></li>
				<li><a href="/architects-professionals">Architects & Professionals</a></li>
				<li><a href="/homeowners">Homeowners</a></li>
			</ul>
		</div>

		<div class="col-sm-4">
			<div class="subscribe">
				<input type="text" placeholder="Sign up for our newsletter" aria-describedby="Newsletter Signup">
				<button class="subscribe-button" type="submit">Subscribe</button>
			</div>
		</div>
	</div>
</footer>
<!-- End of Footer -->