<div class='error-page'>
	<h1 class='error-page-title'>{{title}}</h1>
	<p class='error-page-message'>{{message}}</p>
	{{#if content}}
		<div class='error-page-content'>
			{{{content}}}
		</div>
	{{/if}}
</div>
